
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 1vh;
    }

    @keyframes show {
        0% { opacity: 0.0;}
        50% {opacity: 1;}
        100% {opacity: 0.0;}
    }
    
    body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    }
    
    .urna {
    width: 125vh;
    height: 50vh;
    background: #bbc7cb;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 4vh;
    align-items: center;
    box-shadow: 2vh 2vh 4vh #40404045;
    }
    
    .urna .tela {
    background: #eee0e0;
    width: 55vh;
    height: 40vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    }
    
    .urna .tela .inicio-0 {
    flex: 1;
    color: #333;
    display: flex;
    }
    
    .urna .tela .inicio-0 .esquerda {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    width: 55%;
    }
    
    .urna .tela .inicio-0 .esquerda .seu-voto {
    height: 7vh;
    display: flex;
    align-items: center;
    }
    
    .urna .tela .inicio-0 .esquerda .seu-voto span {
        font-size: 1.7vh;
    }
    
    .urna .tela .inicio-0 .esquerda .numeros .num {
    border: 0.3vh solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5vh;
    height: 5.5vh;
    margin: 1vh 0.6vh;
    font-size: 2vh;
    }

    .show {
        animation-name: show;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
    }
    
    .urna .tela .inicio-0 .esquerda .numeros .num span {
    font-size: 2vh;
    }
    
    .urna .tela .inicio-0 .esquerda .tipo {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .urna .tela .inicio-0 .esquerda .tipo span {
    font-size: 1.6vh;
    }
    
    .urna .tela .inicio-0 .esquerda .numeros {
    height: 6.6vh;
    display: flex;
    align-items: center;
    }
    
    .urna .tela .inicio-0 .esquerda .candidato {
    height: 10vh;
    display: flex;
    flex: 1;
    line-height: 2.8vh;
    align-items: center;
    }
    
    .urna .tela .inicio-0 .esquerda .candidato span {
        font-size: 1.4vh;
        margin-left: 0.8vh;
    }
    
    
    .urna .tela .inicio-0 .direita {
    width: 28vh;
    font-size: 1.1vh;
    padding: 0.1em 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 3.5vh solid #eee0e0;
    }

    .urna .tela .inicio-0 .direita .direita-image {
        font-size: 2vh;
        text-align: center;
        border: 0.03em solid #b8b8b8;
        padding: 0.25em;
        margin: 5px 0;
    }

    .urna .tela .inicio-0 .direita .direita-image span {
        font-size: 1.4vh;
    }

    .urna .tela .inicio-0 .direita .small {
        width: 50%;
        font-size: 1.6vh;
    }

    .urna .tela .inicio-0 .direita img {
        width: 100%;
    }
    
    .urna .tela .inicio, .urna .tela .inicio strong {
    font-size: 1.4vh;
    height: 4.70vh;
    color: #333;
    border-top: 0.2vh solid #333;
    padding-left: 2vh;
    padding-top: 1.2vh;
    overflow: auto;
    line-height: 2.2vh;
    }
    
    .urna .numerais {
    background: transparent;
    height: 46vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    }
    
    .urna .numerais .numeros {
    background: #333;
    width: 70vh;
    height: 45.5vh;
    position: relative;
    padding: 0.6vh;
    }
    
    .urna .numerais .numeros .spans {
    padding: 1.2vh;
    height: 28vh;
    text-align: center;
    }
    
    .urna .numerais .numeros span {
    cursor: pointer;
    width: 14vh;
    height: 7.1vh;
    border-top: 0.7vh solid #444;
    border-right: 0.7vh solid #333;
    border-left: 0.7vh solid #333;
    border-bottom: 0.7vh solid #040404;
    text-align: center;
    color: #eee;
    margin: 0.55vh;
    display: inline-block;
    background: #111;
    }

    .urna .numerais .numeros span:active {
        border-bottom: 0.7vh solid #444;
        border-top: 0.7vh solid #040404;
        background: #090909;
    }

    .urna .numerais .numeros span:active p {
        transform: translateY(3.3%);
    }

    .urna .numerais .numeros .spans span p {
        font-size: 2.2vh;
    }
    
    .urna .numerais .numeros .spans span {
    font-size: 1.9vh;
    padding-top: 1.6vh;
    }
    
    .urna .numerais .numeros .botoes {
    position: absolute;
    bottom: 0;
    width: 59vh;
    padding: 1vh;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }

    .urna .numerais .numeros #corrige:active {
        border-bottom: 0.7vh solid #f0914d;
        border-top: 0.7vh solid #a15c2a;
        background: #cc7232;
        padding-top: 2.5vh;
    }

    .urna .numerais .numeros .botoes #branco:active {
        border-bottom: 0.7vh solid #fff;
        border-top: 0.7vh solid gray;
        background: #ccc;
        padding-top: 2.5vh;
    }

    .urna .numerais .numeros #confirma:active {
        border-bottom: 0.7vh solid #39db74;
        border-top: 0.7vh solid #106930;
        background: #1aa54d;
        padding-top: 2.5vh;
    }
    
    .urna .numerais .numeros .botoes .botao {
    padding: 2vh 3vh;
    width: 17vh;
    height: 6.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.2vh;
    font-weight: 700;
    color: #454545;
    text-align: center;
    margin: auto;
    }
    
    .urna .numerais .numeros .botoes #branco {
    background: #efefef;
    border-top: 0.7vh solid #fff;
    border-right: 0.7vh solid #ccc;
    border-left: 0.7vh solid #ccc;
    border-bottom: 0.7vh solid gray;
    }
    
    .urna .numerais .numeros #corrige {
    background: #e88035;
    border-top: 0.7vh solid #f0914d;
    border-right: 0.7vh solid #d1722e;
    border-left: 0.7vh solid #d1722e;
    border-bottom: 0.7vh solid #a15c2a;
    }
    
    .urna .numerais .numeros #confirma {
    background: #1bc258;
    height: 8vh;
    border-top: 0.7vh solid #39db74;
    border-right: 0.7vh solid #19a84d;
    border-left: 0.7vh solid #19a84d;
    border-bottom: 0.7vh solid #106930;
    }
    
    .urna .numerais .numeros #confirma p, .urna .numerais .numeros #corrige p, .urna .numerais .numeros .botoes #branco p {
    font-size: 1.4vh;
    }
    
    .nulo {
        font-size: 3.3vh;
        font-weight: 800;
        margin: 3.3vh 0;
    }

    .fim {
        text-align: center;
        font-size: 7vh;
        display: block;
        margin: 5vh auto 10vh auto;
        font-weight: 800;
    }

    .final {
        font-size: 8vh;
        font-weight: 800;
        position: absolute;
        top: 50%;
        font-family: sans-serif;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    
    footer {
    position: absolute;
    width: 100%;
    padding: 0.2vh;
    bottom: 0;
    left: 0;
    }
    
    footer p {
    text-align: center;
    font-size: 1.4vh;
    padding: 2vh 0;
    text-transform: capitalize;
    }
    
    a {
    text-decoration: none;
    color: #45d288;
    }
    
    @media (min-width: 900px) {

        .final {
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
        }
    
    .urna {
    width: 125vh;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 4vh;
    align-items: center;
    box-shadow: 2vh 2vh 4vh #40404045;
    }
    
    .urna .tela {
    width: 55vh;
    height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;
    }
    
    .urna .tela .inicio-0 {
    flex: 1;
    display: flex;
    }
    
    .urna .tela .inicio-0 .esquerda {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    }
    
    .urna .tela .inicio-0 .esquerda .seu-voto {
    height: 7vh;
    display: flex;
    align-items: center;
    }
    
    .urna .tela .inicio-0 .esquerda .seu-voto span {
        font-size: 1.7vh;
    }
    
    .urna .tela .inicio-0 .esquerda .numeros .num {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0.6vh;
    }
    
    .urna .tela .inicio-0 .esquerda .numeros .num span {
    font-size: 2vh;
    }
    
    .urna .tela .inicio-0 .esquerda .tipo {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .urna .tela .inicio-0 .esquerda .tipo span {
    font-size: 1.6vh;
    }
    
    .urna .tela .inicio-0 .esquerda .numeros {
    height: 6.6vh;
    display: flex;
    align-items: center;
    }
    
    
    .urna .tela .inicio-0 .esquerda .candidato {
    height: 10vh;
    display: flex;
    flex: 1;
    line-height: 2.8vh;
    align-items: center;
    }
    
    .urna .tela .inicio-0 .esquerda .candidato span {
        font-size: 1.4vh;
        margin-left: 0.8vh;
    }
    
    
    .urna .tela .inicio-0 .direita {
    font-size: 1.1vh;
    }
    
    .urna .numerais {
    background: transparent;
    height: 48.6vh;
    width: 60vh;
    display: flex;
    padding-top: 1.3vh;
    flex-wrap: wrap;
    }
    
    .urna .numerais .numeros {
    width: 70vh;
    height: 45.5vh;
    position: relative;
    padding: 0.6vh;
    }
    
    .urna .numerais .numeros .spans {
    padding: 1.2vh;
    height: 29vh;
    text-align: center;
    }
    
    .urna .numerais .numeros span {
    cursor: pointer;
    height: 7.6vh;
    text-align: center;
    margin: 0.55vh;
    display: inline-block;
    }
    
    .urna .numerais .numeros .spans span {
        height: 7.1vh!important;
    }
    
    .urna .numerais .numeros span {
    font-size: 2.2vh;
    }
    
    .urna .numerais .numeros .spans span {
    font-size: 1.9vh;
    padding-top: 1.6vh;
    }
    
    .urna .numerais .numeros .botoes {
    position: absolute;
    bottom: 0;
    width: 59vh;
    padding: 1vh;
    margin: 1vh auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    
    .urna .numerais .numeros .botoes .botao {
    padding: 2vh 3vh;
    width: 17vh;
    height: 6.1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.2vh;
    font-weight: 700;
    text-align: center;
    margin: auto;
    }
    
    .urna .numerais .numeros .botoes #branco {
    border-top: 0.7vh solid #fff;
    border-right: 0.7vh solid #ccc;
    border-left: 0.7vh solid #ccc;
    border-bottom: 0.7vh solid gray;
    }
    
    .urna .numerais .numeros #corrige {
    border-top: 0.7vh solid #f0914d;
    border-right: 0.7vh solid #d1722e;
    border-left: 0.7vh solid #d1722e;
    border-bottom: 0.7vh solid #a15c2a;
    }


    
    .urna .numerais .numeros #confirma {
    height: 8vh;
    border-top: 0.7vh solid #39db74;
    border-right: 0.7vh solid #19a84d;
    border-left: 0.7vh solid #19a84d;
    border-bottom: 0.7vh solid #106930;
    }


    
    .urna .numerais .numeros #confirma p, .urna .numerais .numeros #corrige p, .urna .numerais .numeros .botoes #branco p {
    font-size: 1.4vh;
    }
    
    
    footer {
    position: absolute;
    width: 100%;
    padding: 0.2vh;
    bottom: 0;
    left: 0;
    }
    
    footer p {
    text-align: center;
    font-size: 1.4vh;
    padding: 2vh 0;
    text-transform: capitalize;
    }
    
    a {
    text-decoration: none;
    }
    
    .urna .numerais .numeros {
            padding-top: 0.7vh;
        }
    
    }
    
    @media (min-width: 830px) and (max-device-width: 1240px) {
    
    .final {
        transform: translate(-230%,-50%);
        top: 50%;
        left: 50%;
    }
        .urna {
            height: 60vh;
        }
    
        .urna .tela {
            height: 100%;
        }
    
        .urna .numerais {
            height: 105%;
        }
    
        .urna .numerais .numeros {
            height: 100%;
            padding-top: 3vh;
        }
        .urna .numerais .numeros .spans span {
            width: 14vh!important;
        }
    }
    
    @media screen and (min-device-height: 1365px) and (max-device-height: 1400px) {
        .urna .numerais .numeros .spans span {
            width: 6.2vh!important;
        }
    
        .urna .numerais .numeros {
            padding-top: 5vh;
        }
        .final {
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
        }
    }
    
    @media screen and (min-device-width: 590px) and (max-device-width: 1250px) {
      .urna {
      width: 90%;
      }
    
      .urna .tela {
          width: 48%;
      }
    
      .urna .numerais {
    width: 46%;
    background: #333;
    border: 6px solid #333;
      }
    
      .urna .numerais .numeros {
          width: 52vh;
          margin: auto;
      }
    
      .urna .numerais .numeros .botoes {
          display: inline-flex;
          text-align: center;
          width: 98.4%;
      }
    
      .urna .numerais .numeros .botoes .botao {
          width: 28%;
      }
    
      .urna .numerais .numeros .spans span {
          width: 7.5vh;
          height: 6.8vh;
      }

      .final {
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
    
    }
    
    @media screen and (min-device-width: 781px) and (max-device-width: 899px) {
        .final {
            transform: translate(-50%,-50%);
            top: 50%;
            left: 28%;
        }
    }
    
    @media (max-width: 780px) {

        .final {
            top: 25%;
        }

        .fim {
            margin-top: -7vh;
        }

      .urna {
          width: 90%;
          padding: 2vh;
          height: 110vh;
          flex-direction: column;
      }
      .urna .tela {
          height: 100%;
          width: 100%;
      }
    
      .urna .numerais {
          width: 100%;
          height: 105%;
          background: #333;
          overflow: hidden;
      }
      
      .urna .numerais .numeros {
    width: 50vh;
    margin: auto;
      }
    
      .urna .numerais .numeros .botoes {
          display: inline-flex;
          text-align: center;
          width: 98.4%;
      }
    
      .urna .numerais .numeros .botoes .botao {
          width: 29.5%;
      }
    
      .urna .numerais .numeros .spans span {
          width: 30%;
      }
    
      .urna .tela .inicio-0 .esquerda .candidato span {
          margin: 2.4vh 0 2.4vh 0.8vh;
      }
    
    }
    
    @media (max-width: 600px) {
    

        .final {
            top: 25%;
        }

        .urna {
      flex-direction: column;
      height: 90vh;
      margin-top: 4vh;
      }
    
      .urna .tela {
          width: 100%;
          overflow: auto;
      }
    
      .urna .numerais {
          width: 100%;
          background-color: #333;
      }
    
      .urna .numerais .numeros {
          width: 95%;
          margin: auto;
      }
    
     .urna .numerais .numeros .spans span {
    width: 28%;
      }
    
      .urna .numerais .numeros .botoes {
    width: 98%;
      }
    
      .urna .numerais .numeros .botoes .botao {
          width: 29.5%;
      }
    
      .urna .tela .inicio-0 .esquerda .candidato span {
          font-size: 1.3vh;
          margin: 2.4vh 0 2.4vh 0.8vh;
      }
    }